################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetApi/bin
/DotNetApi/obj
/DotNetApiMinimal/obj
/DotNetApiMinimal/bin
/DotNetApi/logs
